/* Start Variables */
:root {
  --color-primary: #2196f3;
  --color-primary-alt: #1787e0;
  --section-padding: 6.25rem 0;
  --section-bg: #ececec;
  --shade-dark: #dcdcdc;
  --shade-light: #f3f3f3;
  --main-transition: 0.3s;
  /* --color-secondary:
  --color-transparent:
  --section-padding: */
}

/* End Variables */

/* Start Animation */
@keyframes up-and-down {

  0%,
  100% {
    top: 0;
    left: 0;
  }

  50% {
    top: -2.5rem;
    left: 1rem;
  }
}

@keyframes bouncing {

  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40%,
  60% {
    transform: translateY(-1rem);
  }
}

@keyframes slid-left {
  50% {
    left: 0;
    width: 0.75rem;
    height: 0.75rem;
  }

  100% {
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
  }
}

@keyframes slid-right {
  50% {
    right: 0;
    width: 0.75rem;
    height: 0.75rem;
  }

  100% {
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
  }
}

@keyframes LR-arrow {
  100% {
    transform: translateX(0.5rem);
  }
}

@keyframes flash {

  0%,
  40% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}

@keyframes ch-bg {

  0%,
  100% {
    background-image: url(/assets/resources/img/discount-background1.avif);
  }

  50% {
    background-image: url(/assets/resources/img/discount-background2.avif);
  }
}

/* End Animation */

/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: cairo, sans-serif;
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: calc(100vw - 2rem);
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}

/* End Global Rules */

/* Start Components */
/* * Start Section Title  */
.section-title {
  margin: 0 auto 5rem;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  border: 1px solid #000;
  border-radius: 0.5rem;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  z-index: 1;
  transition: var(--main-transition);
  text-transform: uppercase;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 10%), 0 0.25rem 0.5rem rgb(0 0 0 / 10%);
}

.section-title:hover {
  color: #fff;
  border: 1px solid #fff;
  transition-delay: 0.5s;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 12.5%),
    0 0.125rem 0.25rem rgb(0 0 0 / 25%);
}

.section-title::before,
.section-title::after {
  content: "";
  background-color: var(--color-primary);
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 12.5%),
    0 0.25rem 0.5rem rgb(0 0 0 / 25%);
}

.section-title::before {
  left: -1.5rem;
}

.section-title::after {
  right: -1.5rem;
}

.section-title:hover::before {
  z-index: -1;
  animation: slid-left 0.5s linear forwards;
}

.section-title:hover::after {
  z-index: -1;
  animation: slid-right 0.5s linear forwards;
}

/* * End Section Title */

/* * Start Separators */
.section-skew {
  position: relative;
}

.section-skew::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -4rem;
  width: 100%;
  height: 8rem;
  z-index: 1;
  background-color: #fff;
  transform: skewY(2deg);
}

.section-arrows {
  position: relative;
}

.section-arrows::before {
  content: "";
  position: absolute;
  right: 0;
  width: 100%;
  height: 2rem;
  z-index: 1;
  background-image: linear-gradient(135deg,
      var(--section-bg) 25%,
      transparent 25%),
    linear-gradient(225deg, var(--section-bg) 25%, transparent 25%);
  background-size: 2rem 2rem;
}

/* * End Separators */

/* * Start Dots */
.dots {
  background-image: url(/assets/resources/img/dots.avif);
  position: absolute;
  background-repeat: no-repeat;
  width: 186px;
  height: 204px;
}

.dots-right {
  right: 0;
  top: 15rem;
}

.dots-left {
  left: 0;
  bottom: 15rem;
}

/* * End Dots */
/* End Components */

/* Start Nav-Bar */
.main-header {
  position: relative;
  background-color: #fff;
  box-shadow: 0 0 0.5rem #ddd;
}

.main-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.main-header .nav-logo {
  color: var(--color-primary);
  font-size: 1.5rem;
  font-weight: bold;
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .main-header .nav-logo {
    width: 100%;
    height: 2.5rem;
  }
}

.main-header .main-nav {
  display: flex;
}

@media screen and (max-width: 767px) {
  .main-header .main-nav {
    margin: auto;
  }
}

.main-header .main-nav > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  position: relative;
  color: #000;
  padding: 0 2rem;
  transition: var(--main-transition);
  overflow: hidden;
  z-index: 10;
}

@media screen and (max-width: 767px) {
  .main-header .main-nav > li > a {
    padding: 0.5rem;
    font-size: 0.875rem;
    height: 2.5rem;
  }
}

.main-header .main-nav > li > a::before {
  content: "";
  position: absolute;
  top: 0.25rem;
  left: -100%;
  width: 100%;
  height: calc(100% - 0.25rem);
  background-color: var(--shade-light);
  transition: var(--main-transition);
  z-index: -5;
}

.main-header .main-nav > li > a::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 0.25rem;
  background-color: var(--color-primary);
  transition: var(--main-transition);
  opacity: 0.6;
}

.main-header .main-nav > li > a:hover {
  color: var(--color-primary-alt);
}

.main-header .main-nav > li > a:hover::before,
.main-header .main-nav > li > a:hover::after {
  left: 0;
}

.main-header .main-nav > li > a:active {
  color: var(--color-primary);
  opacity: 1;
}

.main-header .main-nav > li > a:active::after {
  opacity: 1;
}

.menuToggleBg-Show {
  background-color: var(--shade-light);
}

/* Start Mega Menu */
.main-header .mega-menu {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 2rem;
  background-color: #fff;
  border-bottom: 3px solid var(--color-primary);
  display: flex;
  gap: 2.5rem;
  transition: top var(--main-transition), opacity var(--main-transition);
}

.menu-hide {
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  top: calc(100% + 3rem);
}

.menu-show {
  visibility: visible;
  opacity: 1;
  z-index: 100;
  top: calc(100% + 5px);
}

@media screen and (max-width: 767px) {
  .main-header .mega-menu {
    flex-direction: column;
    gap: 0;
    padding: 0.5rem;
  }
}

.main-header .mega-menu img {
  max-width: 100%;
}

@media screen and (max-width: 991px) {
  .main-header .mega-menu img {
    display: none;
  }
}

.main-header .mega-menu .links {
  min-width: 15rem;
  flex: 1;
}

.main-header .mega-menu .links li {
  position: relative;
}

.main-header .mega-menu .links li:not(:last-child) {
  border-bottom: 1px solid var(--shade-dark);
}

@media screen and (max-width: 767px) {
  .main-header .mega-menu .links:first-of-type li:last-child {
    border-bottom: 1px solid var(--shade-dark);
  }
}

.main-header .mega-menu .links li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: var(--shade-light);
  z-index: -1;
  transition: var(--main-transition);
}

.main-header .mega-menu .links li:hover::before {
  width: 100%;
}

.main-header .mega-menu .links li a {
  color: var(--color-primary);
  display: block;
  padding: 1rem;
}

.main-header .mega-menu .links li a i {
  margin-right: 0.5rem;
}

/* End Mega Menu */
/* End Nav-Bar */

/* Start landing */
.landing {
  position: relative;
}

.landing::before {
  content: "";
  position: absolute;
  top: -2.5rem;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--section-bg);
  z-index: -1;
  transform: skewY(-6deg);
  transform-origin: top left;
}

.landing .container {
  min-height: calc(100vh - 72px);
  display: flex;
  align-items: center;
  padding-bottom: 7.5rem;
}

.landing .landing-text {
  flex: 1;
  max-width: 30rem;
}

@media screen and (max-width: 991px) {
  .landing .landing-text {
    text-align: center;
    margin: 0 auto;
  }
}

.landing .landing-text h1 {
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: -0.1rem;
}

@media screen and (max-width: 767px) {
  .landing .landing-text h1 {
    font-size: 2rem;
  }
}

.landing .landing-text p {
  line-height: 1.4;
  margin: 0.5rem 0;
  opacity: 0.6;
  max-width: 25rem;
}

@media screen and (max-width: 991px) {
  .landing .landing-text p {
    margin: 0.5rem auto;
  }
}

.landing .landing-image img {
  position: relative;
  width: 40rem;
  animation: up-and-down 5s linear infinite;
}

@media screen and (max-width: 991px) {
  .landing .landing-image img {
    display: none;
  }
}

.landing .down-arrow {
  color: var(--color-primary);
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  transition: var(--main-transition);
}

.landing .down-arrow:hover {
  color: var(--color-primary-alt);
}

.landing .down-arrow i {
  animation: bouncing 1.5s infinite;
}

/* End landing */

/* Start Articles */
.articles {
  padding: var(--section-padding);
  position: relative;
}

.articles .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;
}

.articles .container .card-body {
  box-shadow: 0 0.25rem 1rem rgb(0 0 0 / 10%);
  border-radius: 0.5rem;
  overflow: hidden;
  transition: transform var(--main-transition),
    box-shadow var(--main-transition);
}

.articles .container .card-body:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 12.5%),
    0 0.25rem 0.5rem rgb(0 0 0 / 25%);
}

.articles .container .card-body img {
  max-width: 100%;
}

.articles .container .card-body .card-text {
  padding: 1rem;
}

.articles .container .card-body h3 {
  font-weight: 600;
  font-size: 1.2rem;
}

.articles .container .card-body p {
  margin: 0.5rem 0 0;
  line-height: 1.4;
  opacity: 0.6;
}

.articles .container .card-body footer {
  padding: 1rem;
  border-top: 1px solid var(--section-bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.articles .container .card-body footer a {
  color: var(--color-primary);
  font-weight: 600;
}

.articles .container .card-body footer i {
  color: var(--color-primary);
}

.articles .container .card-body:hover footer i {
  animation: LR-arrow 0.9s linear infinite;
}

/* End Articles */

/* Start Gallery */
.gallery {
  padding: var(--section-padding);
  background-color: var(--section-bg);
  position: relative;
}

.gallery .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
}

.gallery .container .img-body {
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 12.5%),
    0 0.25rem 0.5rem rgb(0 0 0 / 25%);
  z-index: 1;
}

.gallery .container .img-body .img-wrap {
  position: relative;
  overflow: hidden;
}

.gallery .container .img-body .img-wrap::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  background-color: rgb(255 255 255 / 20%);
  z-index: 2;
}

.gallery .container .img-body .img-wrap:hover::before {
  animation: flash 0.7s;
}

.gallery .container .img-body .img-wrap img {
  max-width: 100%;
  transition: var(--main-transition);
}

.gallery .container .img-body .img-wrap:hover img {
  transform: scale(1.1) rotate(5deg);
}

/* End Gallery */

/* Start Feature */
.features {
  padding: var(--section-padding);
}

.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
}

.features .container .features-card {
  text-align: center;
  border: 1px solid var(--section-bg);
  overflow: hidden;
}

.features .container .features-card .img-warper {
  position: relative;
}

.features .container .features-card .img-warper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.features .container .features-card:nth-child(1) .img-warper::before {
  background-color: rgb(244 64 54 / 50%);
}

.features .container .features-card:hover:nth-child(1) .img-warper::before {
  background-color: rgb(244 64 54 / 25%);
}

.features .container .features-card:nth-child(2) .img-warper::before {
  background-color: rgb(0 150 136 / 50%);
}

.features .container .features-card:hover:nth-child(2) .img-warper::before {
  background-color: rgb(0 150 136 / 25%);
}

.features .container .features-card:nth-child(3) .img-warper::before {
  background-color: rgb(3 169 244 / 50%);
}

.features .container .features-card:hover:nth-child(3) .img-warper::before {
  background-color: rgb(3 169 244 / 25%);
}

.features .container .features-card .img-warper::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
  border-width: 0 0 10rem 35rem;
  transition: var(--main-transition);
}

.features .container .features-card:hover .img-warper::after {
  border-width: 10rem 35rem 10rem 0;
}

.features .container .features-card .img-warper img {
  max-width: 100%;
}

.features .container .features-card h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin: auto;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}

.features .container .features-card h2::after {
  content: "";
  position: absolute;
  bottom: -1rem;
  left: 1rem;
  width: calc(100% - 2rem);
  height: 0.25rem;
}

.features .container .features-card:nth-child(1) h2::after {
  background-color: #f44036;
}

.features .container .features-card:nth-child(2) h2::after {
  background-color: #009688;
}

.features .container .features-card:nth-child(3) h2::after {
  background-color: #03a9f4;
}

.features .container .features-card p {
  line-height: 1.4;
  margin: 1rem 0;
  padding: 2rem;
  opacity: 0.6;
}

.features .container .features-card a {
  display: block;
  padding: 0.5rem 1rem;
  margin: 0 auto 1rem;
  border: 2px solid;
  border-radius: 0.5rem;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: bold;
  transition: var(--main-transition);
}

.features .container .features-card:nth-child(1) a {
  border-color: #f44036;
  color: #f44036;
  background: linear-gradient(to right, #f44036 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

.features .container .features-card:hover:nth-child(1) a {
  background-position: left bottom;
  color: #fff;
}

.features .container .features-card:nth-child(2) a {
  border-color: #009688;
  color: #009688;
  background: linear-gradient(to right, #009688 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

.features .container .features-card:hover:nth-child(2) a {
  background-position: left bottom;
  color: #fff;
}

.features .container .features-card:nth-child(3) a {
  border-color: #03a9f4;
  color: #03a9f4;
  background: linear-gradient(to right, #03a9f4 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

.features .container .features-card:hover:nth-child(3) a {
  background-position: left bottom;
  color: #fff;
}

/* End Feature */

/* Start Testimonials */
.testimonials {
  padding: var(--section-padding);
  background-color: var(--section-bg);
  position: relative;
}

.testimonials .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
}

.testimonials .container article {
  background-color: #fff;
  padding: 1rem;
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 10%);
  border-radius: 0.25rem;
  position: relative;
}

.testimonials .container article img {
  position: absolute;
  right: -1rem;
  top: -1rem;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: 0.5rem solid var(--section-bg);
}

.testimonials .container article h3 {
  margin: 0 0 0.5rem;
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--color-primary);
}

.testimonials .container article .user-title {
  /* opacity: 0.6; */
  margin-bottom: 0.5rem;
  color: var(--color-primary-alt);
  display: block;
}

.testimonials .container article .rate .filled {
  color: #ffc107;
}

.testimonials .container article p {
  line-height: 1.4;
  opacity: 0.6;
  margin-top: 0.5rem;
}

/* End Testimonials */

/* Start Team Members */
.team {
  padding: var(--section-padding);
  position: relative;
}

.team .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
}

.team .container article {
  position: relative;
}

.team .container article::before,
.team .container article::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background-color: #f3f3f3;
  opacity: 0.5;
  border-radius: 0.5rem;
  transition: var(--main-transition);
}

.team .container article::before {
  z-index: -5;
  width: calc(100% - 3.5rem);
}

@media screen and (max-width: 767px) {
  .team .container article::before {
    width: 100%;
  }
}

.team .container article::after {
  z-index: -1;
  width: 0;
  background-color: var(--section-bg);
}

.team .container article:hover::after {
  width: calc(100% - 3.5rem);
}

.team .container article .data {
  display: flex;
  align-items: center;
  padding-top: 3rem;
}

@media screen and (max-width: 767px) {
  .team .container article .data {
    flex-direction: column;
    justify-content: center;
  }
}

.team .container article .data img {
  width: calc(100% - 3.5rem);
  border-radius: 0.5rem;
  transition: var(--main-transition);
}

.team .container article:hover .data img {
  filter: grayscale(100%);
}

.team .container article .social {
  width: 3.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

@media screen and (max-width: 767px) {
  .team .container article .social {
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
  }
}

.team .container article .social a {
  width: 3.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team .container article .social a i {
  color: #777;
  transition: var(--main-transition);
}

.team .container article .social a:hover i {
  color: var(--color-primary);
}

.team .container article .info {
  padding-left: 4.5rem;
}

@media screen and (max-width: 767px) {
  .team .container article .info {
    text-align: center;
    padding-left: 0;
  }
}

.team .container article .info h3 {
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--color-primary);
  margin-top: 1rem;
  transition: var(--main-transition);
}

.team .container article:hover .info h3 {
  color: #777;
}

.team .container article .info p {
  opacity: 0.6;
  margin: 0.5rem 0 1rem;
  /* font-size: .875em; */
}

/* End Team Members */

/* Start Services */
.services {
  padding: var(--section-padding);
  background-color: var(--section-bg);
  position: relative;
}

.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
}

.services .container article {
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 10%),
    0 0.125rem 0.25rem rgb(0 0 0 / 10%);
  counter-increment: services;
  transition: var(--main-transition);
  position: relative;
  padding-top: 1rem;
}

.services .container article::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 0.25rem;
  width: 0;
  top: -0.25rem;
  background-color: var(--color-primary);
  transition: var(--main-transition);
}

.services .container article:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 12.5%),
    0 0.25rem 0.5rem rgb(0 0 0 / 25%);
}

.services .container article:hover::before {
  width: 100%;
}

.services .container article i {
  display: block;
  text-align: center;
  margin: 2rem auto 1rem;
  color: var(--section-bg);
}

.services .container article h3 {
  margin: 1rem 0 2rem;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--color-primary);
}

.services .container footer {
  padding: 1rem;
  text-align: right;
  position: relative;
  background-color: var(--section-bg);
}

.services .container footer::before {
  content: "0" counter(services);
  position: absolute;
  left: 0;
  top: 0;
  width: 4rem;
  height: 100%;
  background-color: var(--color-primary);
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 1rem;
}

.services .container footer::after {
  content: "";
  position: absolute;
  background-color: var(--shade-dark);
  top: 0;
  left: 4rem;
  width: 3rem;
  height: 100%;
  transform: skewX(-30deg);
}

.services .container footer a {
  color: var(--color-primary);
}

/* End Services */

/* Start Skills */
.skills {
  padding: var(--section-padding);
  position: relative;
}

.skills .container {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .skills .container img {
    display: none;
  }
}

.skills .container article {
  flex: 1;
}

.skills .container article h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  margin: 1rem 0.25rem 0.5rem;
}

.skills .container article h3 span {
  font-size: 0.75rem;
  padding: 0.125rem 0.25rem;
  border: 1px solid var(--section-bg);
  border-radius: 0.25rem;
  color: var(--color-primary);
}

.skills .container article .progress {
  height: 2rem;
  background-color: var(--section-bg);
  position: relative;
  border-radius: 0.5rem;
}

.skills .container article .progress-bar {
  border-radius: 0.5rem;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: var(--color-primary);
}

/* End Skills */

/* Start Proses */
.proses {
  padding: var(--section-padding);
  background-color: var(--section-bg);
  position: relative;
}

.proses .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6rem;
}

@media screen and (max-width: 991px) {
  .proses .container {
    flex-direction: column;
  }
}

.proses .container .img-proses {
  max-width: 100%;
  z-index: 1;
}

.proses .container article .content {
  display: flex;
  align-items: center;
  gap: 2rem;
  background-color: var(--shade-light);
  padding: 2rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  border: 2px solid #fff;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 575px) {
  .proses .container article .content {
    flex-direction: column;
    text-align: center;
  }
}

.proses .container article .content::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 0;
  width: 0;
  background-color: var(--shade-dark);
  transition: var(--main-transition);
  z-index: -1;
  border-radius: 0.5rem;
}

.proses .container article .content:hover::before {
  width: 100%;
  height: 100%;
}

.proses .container article .content img {
  width: 3rem;
}

.proses .container article .content .text h3 {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--color-primary);
  margin-bottom: 0.5rem;
}

.proses .container article .content .text p {
  opacity: 0.6;
  line-height: 1.4;
}

/* End Proses */

/* Start Events */
.events {
  padding: var(--section-padding);
  position: relative;
}

.events .container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.events .container img {
  max-width: 25rem;
}

@media screen and (max-width: 991px) {
  .events .container img {
    display: none;
  }
}

.events .container article {
  flex: 1;
}

.events .container .time {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin: 1rem auto;
}

.events .container .time .unit {
  border: 1px solid var(--shade-dark);
  border-radius: 0.25rem;
  text-align: center;
  width: 4.5rem;
  transition: var(--main-transition);
}

.events .container .time .unit:hover {
  border-color: var(--color-primary);
}

.events .container .time .unit span {
  display: block;
  transition: var(--main-transition);
}

.events .container .time .unit span:first-of-type {
  font-size: 2rem;
  padding: 1rem;
  font-weight: bold;
  color: var(--color-primary);
}

.events .container .time .unit span:last-of-type {
  font-size: 0.75rem;
  padding: 0.5rem;
  border-top: 1px solid var(--shade-dark);
}

.events .container .time .unit:hover span:last-of-type {
  border-top-color: var(--color-primary);
}

.events .container .event-title {
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-primary);
  margin: 3rem 0;
  text-align: center;
}

.events .container .description {
  opacity: 0.6;
  line-height: 1.4;
  text-align: center;
}

.events .container .subscribe {
  width: 100%;
}

.events .container .subscribe form {
  width: 35rem;
  margin: 1rem auto;
  padding: 1rem;
  background-color: var(--section-bg);
  border-radius: 3rem;
  display: flex;
  gap: 0.5rem;
}

@media screen and (max-width: 575px) {
  .events .container .subscribe form {
    max-width: 100%;
    flex-direction: column;
    padding: 1rem;
    border-radius: 1rem;
  }
}

.events .container .subscribe form input[type="email"] {
  padding: 1rem;
  border-radius: 3rem;
  border: none;
  caret-color: var(--color-primary);
  flex: 1;
}

.events .container .subscribe form input[type="email"]:focus {
  outline: none;
}

.events .container .subscribe form input[type="email"]::placeholder {
  transition: opacity var(--main-transition);
}

.events .container .subscribe form input[type="email"]:focus::placeholder {
  opacity: 0;
}

.events .container .subscribe form input[type="submit"] {
  padding: 1rem;
  border-radius: 3rem;
  border: none;
  background-color: var(--color-primary);
  color: var(--shade-light);
  font-weight: bold;
  cursor: pointer;
  transition: var(--main-transition);
}

.events .container .subscribe form input[type="submit"]:hover {
  background-color: var(--color-primary-alt);
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 12.5%),
    0 0.125rem 0.25rem rgb(0 0 0 / 25%);
}

@media screen and (max-width: 575px) {

  .events .container .subscribe form input[type="email"],
  .events .container .subscribe form input[type="submit"] {
    border-radius: 0.75rem;
  }
}

/* End Events */

/* Start Pricing */
.pricing {
  padding: var(--section-padding);
  background-color: var(--section-bg);
  position: relative;
}

.pricing .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.pricing .container article {
  border: 0.5rem solid #fff;
  border-radius: 0.5rem;
  background-color: #fff;
  text-align: center;
  position: relative;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 10%),
    0 0.125rem 0.25rem rgb(0 0 0 / 10%);
  transition: var(--main-transition);
  z-index: 1;
}

@media screen and (min-width: 1200px) {
  .pricing .container article:nth-child(2n) {
    top: -1rem;
  }
}

.pricing .container article:hover {
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 12.5%),
    0 0.25rem 0.5rem rgb(0 0 0 / 25%);
}

.pricing .container article::before,
.pricing .container article::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-radius: 0.5rem;
  background-color: var(--shade-light);
  transition: var(--main-transition);
  z-index: -1;
}

.pricing .container article::before {
  left: 0;
}

.pricing .container article::after {
  right: 0;
  bottom: 0;
}

.pricing .container article:hover::before,
.pricing .container article:hover::after {
  width: 100%;
  height: 100%;
}

.pricing .container article .label {
  position: absolute;
  writing-mode: vertical-rl;
  font-weight: 600;
  color: #fff;
  background-color: var(--color-primary);
  padding: 0.5rem 0.5rem 2rem;
  right: 1rem;
  width: 2rem;
}

.pricing .container article .label::before {
  content: "";
  position: absolute;
  border-color: transparent transparent white;
  border-style: solid;
  border-width: 1rem;
  bottom: 0;
  right: 0;
  transition: var(--main-transition);
}

.pricing .container article:hover .label::before {
  border-color: transparent transparent var(--shade-light) transparent;
}

.pricing .container article .price-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 2rem 0;
  letter-spacing: -1px;
}

.pricing .container article img {
  width: 5rem;
  margin-bottom: 2rem;
}

.pricing .container article .price {
  margin-bottom: 1rem;
  -bottom: 1rem;
}

.pricing .container article .price .amount {
  display: block;
  font-size: 3rem;
  font-weight: bold;
  color: var(--color-primary);
  margin-bottom: 0.25rem;
}

.pricing .container article .price .time {
  opacity: 0.6;
}

.pricing .container article ul {
  text-align: left;
}

.pricing .container article ul li {
  padding: 1rem;
  border-top: 1px solid var(--shade-dark);
}

.pricing .container article ul li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  margin-right: 0.5rem;
  font-weight: 900;
  color: var(--color-primary);
}

.pricing .container article a {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  margin: 2rem auto;
  padding: 0.5rem 1rem;
  border: 2px solid var(--color-primary);
  border-radius: 0.5rem;
  color: var(--color-primary);
  transition: var(--main-transition);
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 10%),
    0 0.125rem 0.25rem rgb(0 0 0 / 10%);
}

.pricing .container article a:hover {
  background-color: var(--color-primary-alt);
  border-color: var(--color-primary-alt);
  color: #fff;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 12.5%),
    0 0.125rem 0.25rem rgb(0 0 0 / 25%);
}

/* End Pricing */

/* Start Videos */
.videos {
  padding: var(--section-padding);
  position: relative;
}

.videos .container article {
  display: flex;
  justify-content: center;
  background-color: var(--section-bg);
  border: 0.25rem solid var(--shade-dark);
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 10%),
    0 0.125rem 0.25rem rgb(0 0 0 / 10%);
  transition: var(--main-transition);
  /* border-radius: 0.5rem; */
}

@media screen and (max-width: 991px) {
  .videos .container article {
    flex-direction: column;
  }
}

.videos .container article:hover {
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 12.5%),
    0 0.125rem 0.25rem rgb(0 0 0 / 25%);
}

.videos .container article .list {
  background-color: #fff;
  min-width: 20rem;
  /* border-radius: 0.5rem 0 0 0.5rem; */
}

.videos .container article .list .name {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-weight: bold;
  background-color: var(--shade-light);
}

.videos .container article .list ul li {
  padding: 1rem;
  border-top: 1px solid var(--shade-dark);
  transition: var(--main-transition);
  cursor: pointer;
}

.videos .container article .list ul li:hover {
  background-color: var(--shade-light);
  color: var(--color-primary);
}

.videos .container article .list ul li span {
  display: block;
  opacity: 0.6;
  margin-top: 0.5rem;
  color: #000;
}

.videos .container article figure {
  background-color: var(--shade-dark);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem;
}

.videos .container article figure img {
  max-width: 100%;
  border-radius: 0.5rem;
  border: 0.25rem solid #fff;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 10%),
    0 0.125rem 0.25rem rgb(0 0 0 / 10%);
}

.videos .container article figure img:hover {
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 12.5%),
    0 0.125rem 0.25rem rgb(0 0 0 / 25%);
}

.videos .container article figure figcaption {
  background-color: #fff;
  padding: 1rem;
  margin-top: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 10%),
    0 0.125rem 0.25rem rgb(0 0 0 / 10%);
  /* border-radius: 0.5rem; */
}

.videos .container article figure figcaption:hover {
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 12.5%),
    0 0.125rem 0.25rem rgb(0 0 0 / 25%);
}

/* End Videos */

/* Start Stats */
.stats {
  padding: var(--section-padding);
  position: relative;
  background-image: url(/assets/resources/img/stats.avif);
  background-size: cover;
  min-height: 20rem;
}

.stats::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255 255 255 / 90%);
}

.stats h2 {
  position: relative;
  font-weight: bold;
  font-size: 2rem;
  margin: 0 auto 2rem;
  width: -moz-fit-content;
  width: fit-content;
}

.stats .container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;
}

.stats .container .stats-item {
  position: relative;
  padding: 2rem 1rem;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 10%),
    0 0.125rem 0.25rem rgb(0 0 0 / 10%);
  transition: var(--main-transition);
  opacity: 0.8;
  text-align: center;
}

.stats .container .stats-item:hover {
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 12.5%),
    0 0.125rem 0.25rem rgb(0 0 0 / 25%);
  opacity: 1;
  border-radius: 0;
}

.stats .container .stats-item::before,
.stats .container .stats-item::after {
  content: "";
  position: absolute;
  width: 0.25rem;
  height: 0;
  background-color: var(--color-primary);
  transition: 1s;
}

.stats .container .stats-item::before {
  top: 0;
  left: 0;
}

.stats .container .stats-item::after {
  bottom: 0;
  right: 0;
}

.stats .container .stats-item:hover::before,
.stats .container .stats-item:hover::after {
  height: 100%;
}

.stats .container .stats-item .number {
  display: block;
  font-weight: bold;
  font-size: 3rem;
  margin: 1rem auto;
}

.stats .container .stats-item .text {
  color: var(--color-primary);
  font-style: italic;
  font-weight: bold;
}

/* End Stats */

/* Start Discount */
.discount {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 991px) {
  .discount {
    flex-direction: column;
  }
}

.discount .image {
  background-image: url(/assets/resources/img/discount-background1.avif);
  background-size: cover;
  position: relative;
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  color: #fff;
  animation: ch-bg 10s linear infinite;
  padding-bottom: 3rem;
}

.discount .image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(23 135 244 / 95%);
  z-index: -1;
}

.discount .image .image-content {
  text-align: center;
  padding: 0 1rem;
}

.discount .image h2 {
  font-size: 2rem;
  letter-spacing: -0.125rem;
  font-weight: bold;
  margin: 2rem 0;
}

.discount .image p {
  line-height: 1.4;
  max-width: 30rem;
}

.discount .image img {
  width: 20rem;
  max-width: 100%;
}

.discount .form {
  flex-basis: 50%;
  padding: 0 3rem;
  margin: auto;
}

@media screen and (max-width: 991px) {
  .discount .form {
    margin: auto 1rem;
    padding-bottom: 3rem;
  }
}

.discount .form-content {
  text-align: center;
  padding: 1rem;
}

.discount .form-content h2 {
  font-size: 2rem;
  letter-spacing: -0.125rem;
  font-weight: bold;
  margin: 2rem 0;
}

.discount .form .input {
  display: block;
  width: 100%;
  padding: 1rem;
  margin-bottom: 2rem;
  border: none;
  background-color: var(--shade-light);
  border-bottom: 1px solid var(--shade-dark);
  caret-color: var(--color-primary);
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 10%),
    0 0.125rem 0.25rem rgb(0 0 0 / 10%);
}

.discount .form .input::placeholder {
  opacity: 0.6;
}

.discount .form .input:focus {
  outline: none;
}

.discount .form .input:focus::placeholder {
  opacity: 0;
  transition: var(--main-transition);
}

.discount .form .input:hover {
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 12.5%),
    0 0.125rem 0.25rem rgb(0 0 0 / 25%);
}

.discount .form .form-content textarea.input {
  resize: none;
  height: 10rem;
}

.discount .form [type="submit"] {
  display: block;
  width: 100%;
  padding: 1rem;
  background-color: var(--color-primary);
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: var(--main-transition);
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 10%),
    0 0.125rem 0.25rem rgb(0 0 0 / 10%);
}

.discount .form [type="submit"]:hover {
  background-color: var(--color-primary-alt);
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 12.5%),
    0 0.125rem 0.25rem rgb(0 0 0 / 25%);
}

/* End Discount */

/* Start Footer */
footer {
  background-color: #000;
  padding: 5rem 0 0;
}

footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;
}

footer .container .header h3 {
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
  margin: 0 0 1rem;
}

footer .container .header ul {
  display: flex;
  gap: 0.5rem;
}

footer .container .header a {
  background-color: #313131;
  color: #b9b9b9;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  transition: var(--main-transition);
}

footer .container .header ul .facebook:hover {
  background-color: #3b5998;
}

footer .container .header ul .twitter:hover {
  background-color: #00aced;
}

footer .container .header ul .youtube:hover {
  background-color: #ff0000;
}

footer .container .header p {
  line-height: 2;
  color: #b9b9b9;
  margin-top: 1rem;
}

footer .container .list .links li {
  padding: 1rem 0;
  transition: var(--main-transition);
}

footer .container .list .links li:not(:last-child) {
  border-bottom: 1px solid #313131;
}

footer .container .list .links li:hover {
  padding-left: 0.5rem;
}

footer .container .list .links li:hover a {
  color: #fff;
}

footer .container .list .links li a {
  color: #b9b9b9;
  transition: var(--main-transition);
}

footer .container .list .links li a::before {
  font-family: "Font Awesome 5 Free";
  content: "\f101";
  font-weight: 900;
  color: var(--color-primary);
  margin-right: 0.5rem;
}

footer .container .contact .footer-contact {
  color: #b9b9b9;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  gap: 0.5rem;
}

footer .container .contact .footer-contact i {
  color: var(--color-primary);
}

footer .container .contact .footer-contact .info {
  line-height: 2;
  flex: 1;
}

footer .container .contact .footer-contact span {
  color: #b9b9b9;
  /* display: block !important; */
}

footer .container .footer-g img {
  width: 4.5rem;
  border: 3px solid #fff;
  margin: 0.25rem;
}

footer .copyright {
  color: #fff;
  text-align: center;
  margin: 3rem 0 0;
  padding: 1rem 0;
  border-top: 1px solid #313131;
}

footer .copyright span {
  color: #b9b9b9;
}

/* End Footer */

/* Start Back to Top */
.back-to-top {
  position: fixed;
  bottom: -5rem;
  right: 1rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  border: none;
  border-radius: 0.25rem;
  background-color: var(--color-primary-alt);
  opacity: 0.5;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 12.5%),
    0 0.125rem 0.25rem rgb(0 0 0 / 25%);
  z-index: 999;
  transition: 1s;
}

.back-to-top:hover {
  opacity: 1;
}

.back-to-top > i {
  color: var(--shade-light);
}

/* End Back to Top */